{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Visitas Granada">
    <meta name="author" content="Matilde Cabrera González">

<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="{% static 'visitas_granada/favicon.png' %}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- style, always under bootstrap css-->
<link rel="stylesheet" type="text/css" href="{% static 'visitas_granada/style.css' %}">

    <title>SSBW Matilde Cabrera González</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  </head>
  <body>
    <header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container" style="margin: 0;">
    <div class="header-left">
       <a class="navbar-brand" type="button" href="{% url 'card' %}">Menú de arriba</a>
       <a class="navbar-brand text-secondary" type="button" href="{% url 'añadir_visita' %}"><small>Añadir Visita</small></a>
    </div>
  <div class="header-right">
<!-- Boton para oscurecer el theme -->
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="darkSwitch">
      <label class="custom-control-label" for="darkSwitch" style="color: aliceblue;" > <i class="fas fa-moon"></i></label>
    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

     {% if user.is_anonymous %}
  <form class="navbar-brand form-inline my-2 my-lg-0" action="{% url 'login' %}">
    <button class="btn btn-outline-success my-2 my-sm-0"
      type="submit">Login <i class="fas fa-sign-in-alt"></i><i
      class="feather-24" data-feather="log-in"></i>
    </button>
  </form>
     {% else %}
	<a class="navbar-brand"><small>Bienvenido {{user}}</small></a>
  <form class="navbar-brand form-inline my-2 my-lg-0" action="{% url 'logout' %}">
   <button class="btn btn-outline-danger my-2 my-sm-0"
    type="submit">Logout <i class="fas fa-sign-out-alt"></i><i
    class="feather-24" data-feather="log-out"></i>
   </button>
  </form>

     {% endif %}


  </div>
      </div>
     </nav>

     <nav class="navbar navbar-light" style="background-color: #E9EDF4;">
      <div class="container">
       <span class="navbar-text text-dark">
        <h1>Visitas en Granada</h1>
        <p>Tenemos {{n_visitas}} visitas</p>
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
       </span>
      </div>
     </nav>
    </header>

<div class="container">
  <div class="row">
    <div class="col-sm-6" style="background-color:yellow;">
      <p>Aqui habrá un menú lateral</p>
    </div>
    <div class="col-sm-6">    
	 {% block content %}
	
	{% endblock %}

    </div>
  </div>
</div>
	<!-- nav -->
	<ul class="nav justify-content-center">
	  <li class="nav-item">
	    <a class="nav-link active" href="#">Active</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	  </li>
	</ul>

<script type="text/javascript" src="{% static 'visitas_granada/scripts.js' %}"></script>
 
{% block scripts_likes %}
{% endblock %}
</body>
</html>
