{% extends 'base.html' %}


{% block navbar %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'addForm' %}">Añadir Visita <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block nvisitas %}
{% endblock %}

{% block content %}
	<form action="{% url 'addForm' %}" method="post"  
		  enctype="multipart/form-data">
		  
		{% csrf_token %}
        {{form.as_p}}

        <button type="submit" class="btn btn-primary">Enviar</button>
	</form>
{% endblock %}
